/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Allerta Stencil', sans-serif; */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #9ca670;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.burger {
    display: none;
}

header {
    padding: 25px 50px 15px;
    width: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.navbar-mobile {
    display: none;
    width: 100%;
    height: auto;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    position: absolute;
    background: #edf0f2;
    z-index: 1;
}

.logo {
    width: 75px;
}
navigation-box {
    margin-left:20px;
}
.navigation {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    text-transform: capitalize;
    margin-right: 25px;

}



.icons {
    font-size: 30px;
    margin-right: 25px;

}

.social {
    color: #ffffff
}


.icons :not(:last-child) {
    margin-right: 20px;

}




.btn {
    padding: 1.04em 3.47em;
    border-style: solid;
    border-width: 2px;
    border-color: #fffc00;
    border-radius: 100px;
    background-color: #9ca670;
    font-family: 'Amatic SC', cursive;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: -30px;

}

.btn-first {
    margin-right: 45px;
}

.btn:hover {
    box-shadow: 0 0 30px 0 #fffc00;
    background-color: #fff;
}

.btn:hover {
    color: #884c00;
    font-weight: 700;

}

.s-s-1 {
    display: flex;
    justify-content: space-between;
}

.s-1 {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-y: hidden;
    background-color: #000;

}


.box {
    position: absolute;
    top: 200px;
    left: 200px;
    /* top: 50%;
    left:50%; */
    /* transform: translate(-50%,-50%); */
}

h3 {
    font-family: 'Wendy One', sans-serif;
    position: relative;
    right: 130px;
    top: 130px;
    font-size: 210px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 220px;
    color: #9ca670;
    text-shadow: 0 10px 7px rgba(0, 0, 0, 0.4), 0 -10px 1px #fff;
    letter-spacing: -3px;


}

h3:hover {
    animation: glitch .3s linear infinite;
    cursor: pointer;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}


.banner {
    position: relative;
    width: 500px;
    right: 20px;
    top: 15px;

}
.sec-banner{
    display: none;
}


/* .wrapper {
    position: relative;

} */



.s-2-wrapper {
    background-color: #ffff00;
    position: relative;
    text-align: center;
}

.jozeeo {
    border-radius: 48% 52% 46% 54% / 28% 36% 64% 72%;
    background-color: #523A28;
}

.jozee {
    border-radius: 30% 70% 64% 36% / 30% 37% 63% 70%;
    background-color: #523A28;
}

.jozee2 {
    border-radius: 98% 2% 21% 79% / 82% 37% 63% 18%;
    background-color: #523A28;
}

.jozee3 {
    border-radius: 57% 43% 50% 50% / 82% 14% 86% 18%;
    background-color: #523A28;
}

.jozee4 {
    border-radius: 56% 44% 53% 47% / 60% 48% 52% 40%;
    background-color: #523A28;
}

.jozee5 {
    border-radius: 30% 70% 64% 36% / 30% 37% 63% 70%;
    background-color: #523A28;
}

.jozee6 {
    border-radius: 56% 44% 53% 47% / 60% 48% 52% 40%;
    background-color: #523A28;
}

.s-2-wrapper>h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 55px;
}

.s-2-wrapper>p {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    color: #000;
    width: 1080px;
    margin: 0 auto;
    line-height: 70px;

}

.s-3 {
    background-color: #523A28;
}

.s-3-wrapper-1 {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.s-3-title {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
    font-weight: 700;
    color: #9ba56f;
}

.team-mem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-mem>img {
    width: 195px;
    margin-right: 100px;

}

.kemo {
    margin-top: 50px;
}

.kemoh {
    margin-top: 30px;
}

.team-mem>h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 60px;
    color: #9ba56f;
    margin-right: 100px;
}

.team-mem>p {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 30px;
    color: #9ba56f;
    margin-right: 100px;
}



.roadmap-auto {
    max-width: 950px;
    margin: 0 auto;
}

.roadmap-container .roadmap-h2 {
    background-size: 250px 3px;
    color: #523A28;
    z-index: 1;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.roadmap-container .roadmap-timeline {
    
    max-width: 1000px;
    margin: 0 auto;
}

.roadmap-container .timeline-dot {
    position: absolute;
    left: 50%;
    z-index: 3;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    border: 2px solid #ffff00;
    border-radius: 6px;
    background-color: #ffff00;
}

.roadmap-container .timeline-list {
    float: left;
    width: 100%;
    position: relative;
}

.roadmap-container .timeline-list .timeline-list-col {
    float: left;
    width: 50%;
    padding-top: 35px;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    z-index: 3;
}

.roadmap-container .timeline-list .timeline-item-block {
    width: 350px;
    margin-bottom: 50px;
    float: left;
    text-align: left;
}

.roadmap-container .timeline-list .timeline-item-block17q4 {
    margin-top: 50px;
}

.roadmap-container .timeline-list .timeline-item-block18q2 {
    margin-top: 50px;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-time {
    position: relative;
    width: 320px;
    min-height: 36px;
    border-bottom: 0 solid #ffff00;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-label {
    float: left;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    color: #222;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-content {
    position: relative;
    left: 0;
    width: 280px;
    margin-top: 0;
    margin-right: 40px;
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    text-transform: none;
    border: 1px solid #ddd;
    border-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 0;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-content p {
    font-family: 'Allerta Stencil', sans-serif;
    
    font-size: 16px;
    margin-bottom: 10px;
    background-size: 16px 16px;
    padding-left: 24px;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-content p.no-bullet {
    background: none;
    padding-left: 0;
}

.roadmap-container .timeline-list .timeline-col-right {
    padding-top: 100px;
}

.roadmap-container .timeline-list .timeline-col-right .timeline-item-block {
    float: right;
}

.roadmap-container .timeline-list .timeline-col-right .timeline-item-label {
    float: right;
    text-align: right;
}

.roadmap-container .timeline-list .timeline-col-right .timeline-item-content {
    text-align: left;
    margin-left: 0px;
    margin-right: 0;
}

.roadmap-container .timeline-list .timeline-list-vr {
    width: 0;
    height: 100%;
    border-left: 1px solid #ffff00;
    border-right: 1px solid #ffff00;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    z-index: 2l
}

.roadmap-container .timeline-list .timeline-item-label-hr {
    float: left;
    width: 475px;
    height: 3px;
    background-color: #000;
    position: relative;
}

.roadmap-container .timeline-list .timeline-item-block .item-dot {
    left: auto;
    right: 0;
    bottom: -5px;
    margin-right: -6px;
    margin-left: 0;
}

.roadmap-container .timeline-list .timeline-col-right .item-dot {
    left: 0;
    right: auto;
    margin-right: 0;
    margin-left: -7px;
}

.roadmap-container .timeline-list .timeline-col-right .timeline-item-label-hr {
    margin-left: -125px;
}

.roadmap-container .timeline-list .timeline-item-block .timeline-item-label2 {
    font-family: 'Allerta Stencil', sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    padding: 7px 10px 6px 10px;
}

.roadmap-container .timeline-list .timeline-item-block-brown .timeline-item-label2 {
    background-color: #523A28;
}

.roadmap-container .timeline-list .timeline-item-block-brown .timeline-item-label-hr {
    background-color: #523A28;
}

.roadmap-container .timeline-list .timeline-item-block-brown .item-dot {
    background-color: #523A28;
    border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-brown2 .timeline-item-label2 {
    background-color: #523A28;
}

.roadmap-container .timeline-list .timeline-item-block-brown2 .timeline-item-label-hr {
    background-color: #523A28;
}

.roadmap-container .timeline-list .timeline-item-block-brown2 .item-dot {
    background-color: #523A28;
    border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-yellow .timeline-item-label2 {
    background-color: #ffff00;
}

.roadmap-container .timeline-list .timeline-item-block-yellow .timeline-item-label-hr {
    background-color: #ffff00;
}

.roadmap-container .timeline-list .timeline-item-block-yellow .item-dot {
    background-color: #ffff00;
    border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-yellow2 .timeline-item-label2 {
    background-color: #523A28;
}

.roadmap-container .timeline-list .timeline-item-block-yellow2 .timeline-item-label-hr {
    background-color: #523A28;
}

.roadmap-container .timeline-list .timeline-item-block-yellow2 .item-dot {
    background-color: #523A28;
    border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-violet .timeline-item-label2 {
    background-color: #ffff00;
}

.roadmap-container .timeline-list .timeline-item-block-violet .timeline-item-label-hr {
    background-color: #ffff00;
}

.roadmap-container .timeline-list .timeline-item-block-violet .item-dot {
    background-color: #ffff00;
    border-color: #fff;
}

.roadmap-container .timeline-list .timeline-item-block-mobile {
    display: none;
}




@media screen and (max-width:950px) {

    .roadmap-container {
        padding: 22px 0;
    }

    .spacer-block {
        margin-bottom: 0;
    }

    .roadmap-container .roadmap-h2 {
        font-size: 25px;
        line-height: 30px;
        background-size: 150px 3px;
    }

    .roadmap-container .timeline-list .timeline-list-vr {
        left: 20px;
    }

    .roadmap-container .timeline-dot {
        left: 20px;
    }

    .roadmap-container .roadmap-timeline {
        padding-top: 0;
    }

    .roadmap-container .timeline-list .timeline-list-col {
        float: none;
        width: auto;
        margin-left: 25px;
        padding-left: 25px;
        margin-right: 25px;
    }

    .roadmap-container .timeline-list .timeline-item-block-mobile {
        display: block;
    }

    .roadmap-container .timeline-list .timeline-item-block .timeline-item-time {
        width: auto;
    }

    .roadmap-container .timeline-list .timeline-item-label-hr {
        float: none;
        width: auto;
        margin-left: -30px;
    }

    .roadmap-container .timeline-list .timeline-item-block .timeline-item-label {
        float: none;
    }

    .roadmap-container .timeline-list .timeline-item-block .item-dot {
        left: 0;
        right: auto;
        margin-left: -6px;
        margin-right: 0;
    }

    .roadmap-container .timeline-list .timeline-item-block .timeline-item-label2 {
        width: auto;
    }

    .roadmap-container .timeline-list .timeline-item-block .timeline-item-content {
        float: none;
        width: auto;
        margin-right: 0;
    }

    .roadmap-container .timeline-list .timeline-col-right {
        display: none;
    }

    .roadmap-container .timeline-list .timeline-item-block {
        float: none;
        width: auto;
    }

}