/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Allerta Stencil', sans-serif; */
html {
    scroll-behavior: smooth;
}


.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.burger {
    display: none;
}

header {
    padding: 15px 50px 15px;
    background-color: black;
    width: 100%;
    /* position: fixed; */
    

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 75px;
}

.navigation {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
}

.navigation:hover {
    color: #fffc00;

}

.icons {
    font-size: 30px;

}

.social {
    color: #ffffff;
}

.icons :not(:last-child) {
    margin-right: 20px;

}

.btn {
    padding: 1.04em 3.47em;
    border-style: solid;
    border-width: 2px;
    border-color: #fffc00;
    border-radius: 100px;
    background-color: #000;
    transition: box-shadow 200ms cubic-bezier(.25, .46, .45, .94);
    font-family: 'Amatic SC', cursive;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-right: -30px;
}

.btn:hover {
    box-shadow: 0 0 30px 0 #fffc00;
    background-color: #fff;
}

.btn.navbar {
    position: relative;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    background-color: transparent;
    transition: color 200ms cubic-bezier(.25, .46, .45, .94), background-color 200ms cubic-bezier(.25, .46, .45, .94), box-shadow 200ms cubic-bezier(.25, .46, .45, .94);
    color: #fff;
    font-size: 27px;
}

.btn.navbar:hover {
    background-color: #ffd;
    color: #000;
}

.btn:hover {
    color: #000;
    font-weight: 700;

}
.s-1 {
    background-color:black;
}

.banner {
    position: absolute;
    width: 280px;
    top: 120px;
    left: 1100px;

}

.wrapper {
    position: absolute;
    top: 240px;

}

.neon-wrapper:hover{
    box-shadow:
        0 0 0.1vw 0.3vw #fff7f7,
        0 0 0.4vw 0.6vw #ffff00,
        

        inset 0 0 1.5vw 0.4vw #ffff00,
        inset 0 0 0.4vw 0.2vw #b0e8e3;

}

.neon-text {
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 700;
    font-size: 160px;
    color: #fff;
    padding: 50px;
}
.neon-text:hover{
    text-shadow:
        .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8,

        .1vw 0vw 0vw #ffff00, .2vw 0vw 0vw #ffff00, .4vw 0vw 0vw #ffff00,
        .1vw 0vw .1vw #ffff00, .2vw 0vw .1vw #ffff00, .4vw 0vw .1vw #ffff00,
        .1vw 0vw .1vw #ffff00, .2vw 0vw 1.5vw #ffff00, .4vw 0vw 2vw #ffff00;

}
