/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Allerta Stencil', sans-serif; */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.burger {
    display: none;
}

header {
    padding: 25px 50px 15px;
    width: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 75px;
}

.navigation {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    text-transform: capitalize;
}



.icons {
    font-size: 30px;

}

.social {
    color: #ffffff
}


.icons :not(:last-child) {
    margin-right: 20px;

}




.btn {
    padding: 1.04em 3.47em;
    border-style: solid;
    border-width: 2px;
    border-color: #fffc00;
    border-radius: 100px;
    background-color: #000;
    font-family: 'Amatic SC', cursive;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: -30px;

}

.btn-first {
    margin-right: 45px;
}

.btn:hover {
    box-shadow: 0 0 30px 0 #fffc00;
    background-color: #fff;
}

.btn:hover {
    color: #000;
    font-weight: 700;

}
.s-s-1{
    display: flex;
    justify-content: space-between;
}

.s-1 {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-y: hidden;
    background-color: #000;

}

  
  .box {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  h3 {
    font-family: 'Wendy One', sans-serif;
    font-size:13vw;
    white-space: nowrap;
    overflow: hidden;
    line-height: 220px;
    color: #feed13;
    text-shadow: 0 10px 7px #000,0 -10px 1px #fff;
    letter-spacing: -5px;
    margin-right: 230px;

  }
  
  h3:hover {
    animation: glitch .3s linear infinite;
    cursor: pointer;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }


.banner {
    position: relative;
    width: 285px;

}

.wrapper {
    position: relative;

}



.s-2-wrapper {
    background-color: #ffff00;
    position: relative;
    text-align: center;
}
.jozeeo{
    border-radius:48% 52% 46% 54% / 28% 36% 64% 72% ;
    background-color: #523A28;
}
.jozee{
    border-radius: 30% 70% 64% 36% / 30% 37% 63% 70% ;
    background-color: #523A28;
}
.jozee2{
    border-radius: 98% 2% 21% 79% / 82% 37% 63% 18% ;
    background-color: #523A28;
}
.jozee3{
    border-radius:57% 43% 50% 50% / 82% 14% 86% 18% ;
    background-color: #523A28;
}
.jozee4{
    border-radius: 56% 44% 53% 47% / 60% 48% 52% 40% ;
    background-color: #523A28;
}
.jozee5{
    border-radius: 30% 70% 64% 36% / 30% 37% 63% 70% ;
    background-color: #523A28;
}
.jozee6{
    border-radius: 56% 44% 53% 47% / 60% 48% 52% 40% ;
    background-color: #523A28;
}

.s-2-wrapper>h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 69px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 55px;
}

.s-2-wrapper>p {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    color: #000;
    width: 1080px;
    margin: 0 auto;
    line-height: 70px;

}

.s-3 {
    background-color: #523A28;
}

.s-3-wrapper-1 {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.s-3-title {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
    font-weight: 700;
    color: #9ba56f;
}

.team-mem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-mem>img {
    width: 195px;
    margin-right: 100px;

}

.kemo {
    margin-top: 50px;
}

.kemoh {
    margin-top: 30px;
}

.team-mem>h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 45px;
    color: #9ba56f;
    margin-right: 100px;
}

.team-mem>p {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 30px;
    color: #9ba56f;
    margin-right: 100px;
}